/* Importing Google Fonts */
/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); 
/* Crimson Text */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/* Space Mono */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Quattrocento */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
/* Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Inconsolata */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* Importing Tailwind CSS */
@import "tailwindcss";

:root {
    --color-accent: oklch(65% 50% 0);
}

body {
    /* font: 100%/1.65 'Mulish', sans-serif; */
    font: 100%/1.65 'Space Mono', monospace;
    max-width: 120ch;
    margin-inline: max(1em, (100% - 120ch) / 2);
    color: #2b2b2b;
    accent-color: var(--color-accent);
}

ul {
    display: contents;

    li {
        display: contents;
    }

}

nav {
    display: flex;
    margin-bottom: 1.5em;
    border-bottom: 1px solid oklch(80% 3% 200);
    font-weight: 500;
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 1em;
}

nav a:hover {
    background-color: oklch(from var(--color-accent) 95% 5% h);
    border-bottom: var(--color-accent) 0.4em solid;
    padding-bottom: 0.1em;
}

.current {
    font-weight: bold;
    border-bottom: 0.4em solid oklch(60% 3% 200);
    padding-bottom: 0.1em;
}

#profile {
    max-width: 45%;
}


h1,
h2,
h3 {
    color: #252525;
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-size: 1.75em;
    font-weight: 900;
}

h2 {
    font-size: 1.25em;
    font-weight: 800;
}

h3 {
    font-size: 1.15em;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    html {
        max-width: 100%;
    }

    body {
        max-width: 90%;
        margin-inline: auto;
        font: 75%/1.65 'Space Mono', monospace;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.15em;
    }

    h3 {
        font-size: 1em;
    }
}

header p {
    text-align: start;
}

a {
    color: #8a00f4;
}

main {
    padding: 2.5em;
    background-color: azure;
    border-radius: 1.5em;
}

main section {
    padding-inline: 0.65em;
    margin-bottom: 2.5em;
}

main section h2 {
    margin-top: 0em;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    border-bottom: 0.5px solid #8a00f4;
}

main section article h3 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

main section p {
    margin-top: 0em;
    margin-bottom: 1.5em;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form button {
    font: inherit;
    display: block;
    width: 100%;

}